/*
Saviynt File Directory API

File Directory APIs

API version: 1.0
Contact: https://github.com/saviynt
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package filedirectory

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// FileDirectoryAPIService FileDirectoryAPI service
type FileDirectoryAPIService service

type ApiUploadNewFileRequest struct {
	ctx context.Context
	ApiService *FileDirectoryAPIService
	uploadSchemaFileRequest *UploadSchemaFileRequest
}

func (r ApiUploadNewFileRequest) UploadSchemaFileRequest(uploadSchemaFileRequest UploadSchemaFileRequest) ApiUploadNewFileRequest {
	r.uploadSchemaFileRequest = &uploadSchemaFileRequest
	return r
}

func (r ApiUploadNewFileRequest) Execute() (*UploadSchemaFileResponse, *http.Response, error) {
	return r.ApiService.UploadNewFileExecute(r)
}

/*
UploadNewFile Upload File

This API call can be used to upload the file in a specific location based on the property `job.ecm.imp.file.path` or  `job.ecm.savfile.path` in `InternalConfig.groovy`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUploadNewFileRequest
*/
func (a *FileDirectoryAPIService) UploadNewFile(ctx context.Context) ApiUploadNewFileRequest {
	return ApiUploadNewFileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UploadSchemaFileResponse
func (a *FileDirectoryAPIService) UploadNewFileExecute(r ApiUploadNewFileRequest) (*UploadSchemaFileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UploadSchemaFileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileDirectoryAPIService.UploadNewFile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ECM/api/v5/uploadSchemaFile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.uploadSchemaFileRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
